{% extends "home/layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
	<ul class="nav nav-tabs">
	{% for menu in menus %}
		<li role="presentation"><a href="#" style="height: 100px; line-height: 78px; font-size: 18px;">{{ menu }}</a></li>
	{% endfor %}
	</ul>
	<ul class="list-group">
		<li class="list-group-item">Cras justo odio</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>
</div>

{% endblock %}