{% extends "home/layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block head_css %}
	<style>
        #progress{
            width: 300px;
            height: 20px;
            background-color:#f7f7f7;
            box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
            border-radius:4px;
            background-image:linear-gradient(to bottom,#f5f5f5,#f9f9f9);
        }

        #finish{
            background-color: #149bdf;
            background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
            background-size:40px 40px;
            height: 100%;
        }
        form{
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block content %}
<!-- <form action="http://slim.zhengss.com/api/word" method="post" enctype="multipart/form-data">
<input type="file" name="file">
<input type="file" name="file" multiple="multiple">
<input type="file" name="file[]">
<input type="file" name="file[]">
<input type="file" name="file[]">
<input type="file" name="file[]">
<input type="submit" name="submit" value="提交">
</form> -->
<div id="progress">
    <div id="finish" style="width: 0%;" progress="0"></div>
</div>
<form action="http://slim.zhengss.com/api/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <!-- <input type="button" value="停止" id="stop"> -->
</form>
<span></span>
{% endblock %}
{% block foot_js %}
	{{ parent() }}
	<script>

		var upload = new Upload();


	    $("#file").change(function(){
	    	upload.addFileAndSend(this);
	    	/*console.log(this.files[0]);

	    	var formData = new FormData();
	    	formData.append("file",this.files[0]);
			formData.append("blob_num",1);
			formData.append("total_blob_num",5);
			formData.append("file_name",this.files[0].name);

			$.ajax({
				type: "POST",
				url: "http://slim.zhengss.com/api/upload",
				processData: false,// 告诉jQuery不要去处理发送的数据
				contentType: false,// 告诉jQuery不要去设置Content-Type请求头
				data: formData,
				success: function (result) {
					//$("span").html(result);
					console.log(result);
				}
			});*/
	    });


	    // 文件上传（大文件分片）
	    function Upload() {

	    	var formData = new FormData();
	        const LENGTH = 1024 * 1024;
	        var start;
	        var end;
	        var blob;
	        var blob_num = 1;

	        //对外方法，传入文件对象
	        this.addFileAndSend = function(that){
	            var file = that.files[0];
	            blob = cutFile(file, blob_num);
	            sendFile(blob,file);
	        }

	        /**
	         * 切割文件（分片）
	         * @var file 文件对象
	         * @var blob_num 传递的是第几片
	         */
	        function cutFile(file, blob_num){
	        	start = (blob_num-1) * LENGTH;
	        	end = blob_num * LENGTH;
	            var file_blob = file.slice(start, end);
	            return file_blob;
	        };

	        /**
	         * 发送文件信息
	         * @var blob 切割下来的文件块
	         * @var file 文件对象
	         *
	         */
	        function sendFile(blob, file) {
	        	var total_blob_num = Math.ceil(file.size / LENGTH);
	            formData.append("file", blob);
				formData.append("blob_num", blob_num);
				formData.append("total_blob_num", total_blob_num);
				formData.append("file_name", file.name);

				$.ajax({
					type: "POST",
					url: "http://slim.zhengss.com/api/upload",
					processData: false,// 告诉jQuery不要去处理发送的数据
					contentType: false,// 告诉jQuery不要去设置Content-Type请求头
					data: formData,
					success: function (result) {
						//$("span").html(result);
						//console.log(result);
						if (result.status == 1) {
							blob = cutFile(file, result.blob_num + 1);
							sendFile(blob,file);
						} else if (result.status == 2) {
							alert('上传完成！');
						}
					}
				});
	        }
	    }
	</script>
{% endblock %}