{% extends "home/layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block head_css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url() }}/lib/jquery-file-upload/css/jquery.fileupload.css">
	<style>
        #progress{
            width: 300px;
            height: 20px;
            background-color:#f7f7f7;
            box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
            border-radius:4px;
            background-image:linear-gradient(to bottom,#f5f5f5,#f9f9f9);
        }

        #finish{
            background-color: #149bdf;
            background-image:linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
            background-size:40px 40px;
            height: 100%;
            color: #000;
        }
        form{
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block content %}
	<div>
		<a href="https://api.weibo.com/oauth2/authorize?client_id=2752402689&response_type=code&redirect_uri=http://slim.zhengss.com/login/weibo">微博登录</a>
	</div>
{% endblock %}