/**
 * overwrite jqTree
 */
.fs-tree {
    width: 280px;
    height: auto;
    position: relative;
    margin-left: 5px;
}
.tree-container {
    width: 100%;
    float: left;
    min-height: 300px;
    overflow: auto;
}

.fs-tree .list-group-item {
    padding: 6px 1px;
    display: block;
}
.fs-tree .list-group-item[data-nodeid="0"] span.expand-icon {
    visibility: hidden;
}

.tree-refresh {
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 0.39em;
    color: #428bca;
}
.tree-refresh:hover {
    color: #fa1;
    cursor: pointer;
}