.upload-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: +100;
    min-width: 300px;
    display: none;
}
.upload-panel .panel {
    margin: auto 3px 2px auto;
}
.upload-panel .panel-heading {
    padding: 6px 6px 11px 8px;
}
.upload-panel .panel-heading button.close {
        margin-top: 0;
}
.upload-panel .panel-heading .btn-icon-min {
    right: 8px;
    position: relative;
}
.upload-panel .panel-heading .min-show {
    display: none;
}

.upload-panel .panel-body {
    margin: 3px;
    padding: 5px;
    border: 2px dashed #bbb;
}
.upload-panel .panel-body .upload-tip {
    text-align: center;
    font-style: italic;
    color: #cccaca;
    padding: 50px 0 50px 0;
}
.upload-panel .panel-body .upload-tip.list-mode {
    padding: 5px 0 0px 0;
}
.upload-panel .panel-body .upload-tip + ul {
    padding-left: 0;
    overflow: auto;
}
.upload-panel .panel-body .upload-tip + ul .list-group-item {
    padding: 3px 5px 3px 6px;
}
.upload-panel .panel-body .upload-tip + ul .list-group-item .progress {
    margin-bottom: 1px;
    margin-top: 5px;
}
.upload-panel .panel-body .upload-tip input[name="filename"] {
    display: inline-block;
    width: 5.2em;
}

.upload-panel.min .panel-heading .min-show {
    display: inline-block;
}
.upload-panel.min .panel-heading .min-hide {
    display: none;
}
.upload-panel.min .panel-body {
    display: none;
}
.upload-panel.min .panel {
    margin-bottom: -1px;
}

.drag-over-doc-body {
  border: 3px dashed #787878 !important;
}

.drag-over-area {
  border: 3px dashed #7edfea !important;
}