<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
        <li><a href="">{{ name }}</a></li>
        {% for item in data %}
            <li><a href="{{ item.aa }}">{{ item.bb }}</a></li>
        {% endfor %}
        </ul>

        <h1>My Webpage</h1>
        {{ a_variable }}
    </body>
</html>